.calc{
  width: auto;
  height: 110vh;
  background-color: #282c34;
  padding: 1rem;
  padding-top: 10rem;
}

.calc div{
  width: 23rem;
  margin: auto;
  padding: 0.5rem;
  background-color: #282c34;
}

.display{
  width: 21.4rem;
  padding: 0.2rem;
  font-size: 2rem;
  text-align: right;
  align-items: center;
}

.button{
  width: 7.3rem;
  padding: 1rem;
  background-color: #333;
  border: solid white 2px;
  color: #fff;
}

.button1{
  width: 14.6rem;
  padding: 1rem;
  background-color: #333;
  border: solid white 2px;
  color: #fff;
}

.button1:hover{
  background-color: #222;
}

.button:hover{
 background-color:#222 ;
}

@media screen and (max-width:400px) {
  .calc{
      background-color: white;
  }
  .calc div{
      background-color: white;
  }
  .display{
      border-radius: solid black 2px;
      width:20rem;
  }
  .button{
      width: 5rem;
  }
  .button1{
      width: 20rem;
  }
}
